In [53]:
import pandas as pd
import numpy as np
import os

In [14]:
mainpath = "/Users/paolas.dordelly/Documents/python-ml-course-master/datasets/customer-churn-model"
filename = "Customer Churn Model.txt"
fullpath = os.path.join(mainpath, filename)
data = pd.read_csv(fullpath)

In [15]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Lets create a subset

In [18]:
account_length = data["Account Length"]
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [19]:
type(account_length)

pandas.core.series.Series

In [20]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [21]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [32]:
desired_columns = ["Account Length", 'VMail Message', "Day Calls"]
all_columns_list = data.columns.values.tolist() #put the whole columns in a list
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [36]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [37]:
subset = data[sublist]
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [43]:
a = set(desired_columns)
b = set(all_columns_list)
sublist = b-a
sublist = list(sublist)

In [44]:
subset = data[sublist]
subset.head()

,Day Charge,Night Calls,Intl Calls,Churn?,State,Eve Calls,CustServ Calls,Night Mins,Intl Charge,Intl Mins,VMail Plan,Night Charge,Day Mins,Phone,Int'l Plan,Area Code,Eve Mins,Eve Charge
0,45.07,91,3,False.,KS,99,1,244.7,2.70,10.0,yes,11.01,265.1,382-4657,no,415,197.4,16.78
1,27.47,103,3,False.,OH,103,1,254.4,3.70,13.7,yes,11.45,161.6,371-7191,no,415,195.5,16.62
2,41.38,104,5,False.,NJ,110,0,162.6,3.29,12.2,no,7.32,243.4,358-1921,no,415,121.2,10.30
3,50.90,89,7,False.,OH,88,2,196.9,1.78,6.6,no,8.86,299.4,375-9999,yes,408,61.9,5.26
4,28.34,121,3,False.,OK,122,3,186.9,2.73,10.1,no,8.41,166.7,330-6626,yes,415,148.3,12.61

In [45]:
subset[3320:]

,Day Charge,Night Calls,Intl Calls,Churn?,State,Eve Calls,CustServ Calls,Night Mins,Intl Charge,Intl Mins,VMail Plan,Night Charge,Day Mins,Phone,Int'l Plan,Area Code,Eve Mins,Eve Charge
3320,23.80,133,4,True.,GA,77,4,120.1,2.62,9.7,no,5.40,140.0,411-5677,yes,510,196.4,16.69
3321,32.96,134,8,False.,VT,110,3,210.1,3.56,13.2,no,9.45,193.9,400-2738,no,415,85.0,7.23
3322,54.59,72,2,True.,MD,122,4,180.5,3.11,11.5,no,8.12,321.1,409-1856,no,408,265.5,22.57
3323,20.13,56,3,True.,IN,97,5,227.0,3.67,13.6,no,10.22,118.4,362-5899,no,415,249.3,21.19
3324,28.87,82,4,False.,WV,105,1,193.7,3.13,11.6,no,8.72,169.8,377-1164,no,415,197.7,16.80
3325,32.88,109,4,False.,OH,88,2,243.3,2.51,9.3,no,10.95,193.4,368-8555,no,408,116.9,9.94
3326,18.12,92,7,False.,OH,87,1,178.9,4.02,14.9,no,8.05,106.6,347-6812,no,415,284.8,24.21
3327,22.90,128,5,False.,SC,68,2,221.4,3.19,11.8,no,9.96,134.7,348-3830,no,415,189.7,16.12
3328,26.55,83,6,False.,AZ,126,2,279.1,2.67,9.9,yes,12.56,156.2,414-4276,no,415,215.5,18.32
3329,39.29,123,4,False.,WV,55,3,191.3,2.59,9.6,no,8.61,231.1,370-3271,no,415,153.4,13.04
3330,30.74,91,6,False.,RI,58,2,191.9,3.81,14.1,no,8.64,180.8,328-8230,no,510,288.8,24.55
3331,36.35,137,10,False.,CT,84,2,139.2,1.35,5.0,no,6.26,213.8,364-6381,yes,510,159.6,13.57
3332,39.85,77,4,False.,TN,82,0,241.4,3.70,13.7,yes,10.86,234.4,400-4344,no,415,265.9,22.60

In [47]:
daymins_greater200 = data[data['Day Mins']>200]
daymins_greater200

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,SC,181,408,406-6304,no,no,0,229.9,130,39.08,...,93,12.27,262.4,110,11.81,14.2,4,3.83,2,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [48]:
newyorkers = data[data['State'] == "NY"]
newyorkers

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [49]:
## and --> &, OR --> |
newyorkers_greater200 = data[(data['Day Mins']>200) & (data['State']=="NY")]
newyorkers_greater200

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
551,NY,157,415,421-1189,no,no,0,224.5,111,38.17,...,99,17.06,116.6,118,5.25,11.5,2,3.11,2,False.
650,NY,140,415,333-8180,no,no,0,235.5,81,40.04,...,130,21.86,103.1,111,4.64,11.5,4,3.11,2,False.
754,NY,41,415,393-9985,no,no,0,209.9,105,35.68,...,105,10.36,253.7,104,11.42,9.6,4,2.59,1,False.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
994,NY,147,510,421-7205,no,yes,33,251.5,107,42.76,...,110,19.90,213.4,87,9.60,10.4,6,2.81,3,False.
1044,NY,94,510,417-3046,yes,no,0,243.2,109,41.34,...,88,12.50,94.9,99,4.27,7.2,4,1.94,4,False.
1065,NY,68,415,349-4762,no,yes,29,239.5,82,40.72,...,105,17.32,167.8,70,7.55,9.9,6,2.67,0,False.
1278,NY,163,408,413-2241,no,no,0,247.7,77,42.11,...,108,22.91,167.3,82,7.53,9.6,7,2.59,0,True.
1492,NY,64,408,422-7728,no,no,0,219.6,126,37.33,...,100,25.78,154.5,65,6.95,9.7,5,2.62,1,False.
1510,NY,92,408,348-2916,no,no,0,265.6,82,45.15,...,75,15.36,211.1,113,9.50,8.6,2,2.32,1,False.
1633,NY,87,415,399-5426,no,no,0,204.8,101,34.82,...,80,13.69,285.7,89,12.86,9.5,3,2.57,0,False.
1774,NY,21,415,335-2274,no,no,0,244.7,81,41.60,...,117,14.28,281.5,87,12.67,6.6,1,1.78,1,False.
1794,NY,54,415,348-6853,no,no,0,286.6,73,48.72,...,108,18.97,203.7,107,9.17,11.5,5,3.11,1,True.
1965,NY,139,510,399-7268,no,no,0,236.6,109,40.22,...,107,14.44,212.3,118,9.55,11.1,2,3.00,1,True.
2105,NY,40,408,416-7591,no,no,0,242.5,82,41.23,...,97,19.80,154.0,86,6.93,9.6,7,2.59,0,False.
2401,NY,126,415,352-7752,yes,no,0,239.7,87,40.75,...,92,23.94,183.5,113,8.26,11.4,1,3.08,1,True.
2435,NY,112,415,404-9504,no,yes,23,286.6,79,48.72,...,102,26.80,193.9,101,8.73,10.3,6,2.78,1,False.
2600,NY,148,408,407-7464,no,no,0,208.4,120,35.43,...,99,14.82,310.7,105,13.98,11.2,4,3.02,1,False.
2803,NY,104,415,389-6081,no,no,0,264.0,108,44.88,...,75,11.24,177.7,91,8.00,10.6,8,2.86,3,False.
2857,NY,160,408,352-6084,no,no,0,216.8,77,36.86,...,117,17.62,228.6,117,10.29,5.6,2,1.51,1,False.
2959,NY,125,415,367-3950,no,no,0,233.3,65,39.66,...,93,17.83,210.6,109,9.48,9.1,4,2.46,1,False.
3086,NY,54,510,390-6932,yes,no,0,236.3,91,40.17,...,130,12.99,160.3,98,7.21,11.2,8,3.02,3,False.

In [50]:
newyorkers_greater200 = data[(data['Day Mins']>200) | (data['State']=="NY")]
newyorkers_greater200

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,SC,181,408,406-6304,no,no,0,229.9,130,39.08,...,93,12.27,262.4,110,11.81,14.2,4,3.83,2,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [52]:
data.iloc[0:10,:3]

  State  Account Length  Area Code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510
6    MA             121        510
7    MO             147        415
8    LA             117        408
9    WV             141        415

## Random Gen Number

In [54]:
#Generate random numbers
np.random.randint(1,100)

10

In [56]:
np.random.random() #entre 0 y 1

0.40597519537851534

In [57]:
#list of n numbers between interval a-b
def randint_list(n,a,b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [58]:
randint_list(5,0,20)

[3, 10, 11, 12, 19]

In [60]:
import random
random.randrange(0,100,7)#multiplos de 7 (ultimo argumento)

35

## Suffling

In [61]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [62]:
np.random.shuffle(a)

In [63]:
a

array([76, 95, 90,  4, 49,  3, 12, 53, 35, 91, 77, 34, 44, 48, 47, 39, 32,
       21, 38, 46, 98, 56, 85, 40, 27, 93, 97,  0, 30, 26, 37,  2,  1, 18,
       55, 71, 58, 28,  7, 61, 94, 99, 70, 68, 36, 33, 69, 80,  5, 43, 22,
       87, 31, 57, 84, 64,  9, 59,  6, 16, 51, 25, 52, 82, 92, 50, 81, 78,
       62, 17,  8, 67, 79, 10, 65, 89, 42, 75, 63, 41, 54, 11, 66, 60, 14,
       72, 74, 20, 23, 88, 29, 86, 73, 15, 96, 19, 24, 45, 13, 83])

In [66]:
np.random.choice(all_columns_list)

'State'

## Setting a seed

In [70]:
np.random.seed(2018)
for i in range(5):
    print(np.random.random())

0.9884503688352414
0.9604436800074251
0.9124926162605727
0.798811014988961
0.3803603073593186